PORT=your_port_number
CORS_ORIGIN=your_cors_origin
NODE_ENV=your_node_environment[prod|test|dev]

MONGODB_URI=your_mongodb_connection_string

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRY=your_jwt_access_expiry
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRY=your_jwt_refresh_expiry

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_URL=cloudinary://your_cloudinary_api_key:your_cloudinary_api_secret@your_cloudinary_cloud_name